<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PoGoSlackBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="PogoDBContext" connectionString="Data Source=|DataDirectory|pogo_spawns.sqlite" providerName="System.Data.SQLite" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <PoGoSlackBot.Properties.Settings>
      <setting name="LoginProvider" serializeAs="String">
        <value>GoogleAuth</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>pogodev.a1@gmail.com</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>Hemligt123!</value>
      </setting>
      <setting name="ProcessNearbyPokemon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProcessGyms" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SlackWebHookURL" serializeAs="String">
        <value>https://hooks.slack.com/services/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</value>
      </setting>
      <setting name="SlackChannel" serializeAs="String">
        <value>#pokemongo</value>
      </setting>
      <setting name="SlackBotName" serializeAs="String">
        <value>Pokemon GO Scanner</value>
      </setting>
      <setting name="ImageURLFormat" serializeAs="String">
        <value>http://pokemon.trembon.se/images/{0}.png</value>
      </setting>
      <setting name="MapURLFormat" serializeAs="String">
        <value>http://maps.google.com/?q={0},{1}</value>
      </setting>
      <setting name="WalkingPoints" serializeAs="Xml">
        <value>
          <ArrayOfPosition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Position>
              <Latitude>56.026642</Latitude>
              <Longitude>14.16795</Longitude>
            </Position>
            <Position>
              <Latitude>56.026279</Latitude>
              <Longitude>14.168009</Longitude>
            </Position>
            <Position>
              <Latitude>56.025808</Latitude>
              <Longitude>14.1681</Longitude>
            </Position>
            <Position>
              <Latitude>56.025361</Latitude>
              <Longitude>14.168207</Longitude>
            </Position>
            <Position>
              <Latitude>56.025292</Latitude>
              <Longitude>14.169039</Longitude>
            </Position>
            <Position>
              <Latitude>56.02579</Latitude>
              <Longitude>14.169007</Longitude>
            </Position>
            <Position>
              <Latitude>56.026258</Latitude>
              <Longitude>14.169141</Longitude>
            </Position>
            <Position>
              <Latitude>56.026684</Latitude>
              <Longitude>14.168615</Longitude>
            </Position>
          </ArrayOfPosition>
        </value>
      </setting>
    </PoGoSlackBot.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories><remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>